<footer class="container content-space-2 text-center">
  <a class="d-inline-flex align-items-center mb-3" href="index.html" aria-label="Front">
    <img class="brand" src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/logos/logo.svg" alt="Logo">
  </a>
  <p class="fs-6 mb-1">We're part of the <a class="link" href="#">Pixeel Ltd.</a> family along with <a class="link" href="http://htmlstream.com" target="_blank">Htmlstream</a>.</p>
  <p class="fs-6">© Front. 2021 Htmlstream. All rights reserved.</p>
  <ul class="list-inline mb-0">
    <li class="list-inline-item">
      <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
        <i class="bi-facebook"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
        <i class="bi-youtube"></i>
      </a>
    </li>
    
    <li class="list-inline-item">
      <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
        <i class="bi-instagram"></i>
      </a>
    </li>
  </ul>
</footer>
  <a
    type="button"
    class="btn btn-dark btn-icon fixedButton avatar-circle btn-md"
    routerLink="/carrito"
  >
    <div><i class="fas fa-shopping-cart"></i></div>
  </a>
