<footer class="container-fluid content-space-2 text-center bg-dark">
  <a class="d-inline-flex align-items-center mb-3" href="index.html" aria-label="Front">
    <img class="navbar-brand-logo" src="assets/img/logo.png" alt="Logo">
  </a>
  <p class="fs-6 mb-1 text-white">Somos parte del <a class="link" href="#">gofuture solution.</a> familia junto con <a class="link" href="http://htmlstream.com" target="_blank">BeeCreativos</a>.</p>
  <p class="fs-6 text-white">© gofuturedigitalsolution.com. Todos los derechos reservados. 2025</p>
  <ul class="list-inline mb-0">
    <li class="list-inline-item">
      <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
        <i class="bi-facebook"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
        <i class="bi-youtube"></i>
      </a>
    </li>
    
    <li class="list-inline-item">
      <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
        <i class="bi-instagram"></i>
      </a>
    </li>
  </ul>
</footer>
 
  <div class="avatar avatar-md avatar-circle me-2 fixedButton bg-dark">
    <a
      type="button"
      routerLink="/carrito"
    >
      <i class="fas fa-shopping-cart fa-xs text-white mx-2"></i>
      <span class="avatar-status avatar-status-danger">{{ cantidadElementos }}</span>
    </a>
  </div>