<footer class="container-fluid content-space-2 text-center bg-dark">
  <a class="d-inline-flex align-items-center mb-3" href="index.html" aria-label="Front">
    <img class="brand" src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/logos/logo.svg" alt="Logo">
  </a>
  <p class="fs-6 mb-1 text-white">We're part of the <a class="link" href="#">Pixeel Ltd.</a> family along with <a class="link" href="http://htmlstream.com" target="_blank">Htmlstream</a>.</p>
  <p class="fs-6 text-white">© Front. 2021 Htmlstream. All rights reserved.</p>
  <ul class="list-inline mb-0">
    <li class="list-inline-item">
      <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
        <i class="bi-facebook"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
        <i class="bi-youtube"></i>
      </a>
    </li>
    
    <li class="list-inline-item">
      <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
        <i class="bi-instagram"></i>
      </a>
    </li>
  </ul>
</footer>
  <!-- <div class="btn btn-dark btn-icon fixedButton avatar-circle btn-md">
    <small class="text-xs mx-1 mb-3 badge bg-light text-dark ">1</small>
    <a
      type="button"
      routerLink="/carrito"
    >
      <div>
        <i class="fas fa-shopping-cart fa-xs text-white"></i></div>
    </a> 
  </div> -->
  <div class="avatar avatar-md avatar-circle me-2 fixedButton bg-dark">
    <a
      type="button"
      routerLink="/carrito"
    >
      <i class="fas fa-shopping-cart fa-xs text-white mx-2"></i>
      <span class="avatar-status avatar-status-danger">{{ cantidadElementos }}</span>
    </a>
  </div>