<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO INVENTSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->

<div class="min-height-300 bg-default position-absolute w-100"></div>
<app-menuadmin></app-menuadmin>
<main class="main-content position-relative border-radius-lg">
  <div class="container-fluid py-6">
    <div class="row ">
      <div class="card">
        <br>
        <div class="container-fluid mt-4">
          <div class="row">
            <div class="col-md-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                  <li class="breadcrumb-item text-sm"><a class="opacity-5 " href="javascript:;">ZonaSport</a></li>
                  <li class="breadcrumb-item text-sm  active" aria-current="page">Pedidos</li>
                </ol>
              </nav>
              <div class="d-flex align-items-center mt-3">
                <p class="mb-0 h6 text-uppercase ">Datos de los pedidos</p>
                <!-- <button
                  class="btn btn-primary text-white font-weight-bold btn-xs ms-auto"
                > 
                  <i class="fas fa-pen"></i> Actualizar
                </button>
                <button
                  class="btn btn-danger text-white font-weight-bold btn-xs mx-2"
                > 
                  <i class="fas fa-plus"></i> Agregar
                </button> -->
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
             <!--  -->
            </div>
          </div>
        <div class="row mt-1">
          <div class="col-md-12">
            <div class="table-responsive">
              <p-table
                  #inscripcion
                  [value]="inscripciones"
                  [rows]="10"
                  [paginator]="true"
                  [globalFilterFields]="['documento', 'inscripciones.documento', 'nombre', 'inscripciones.nombre']"
                  [tableStyle]="{ 'min-width': '75rem' }"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                >
                <ng-template pTemplate="caption">
                  <div class="flex align-items-center justify-content-between">
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input
                        pInputText
                        type="text"
                        class="form-control"
                        (input)="inscripcion.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar..."
                      />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12">Factura</th>
                    <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12"></th>
                    <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12">Datos deportista</th>
                    <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12">Cantidad</th>
                    <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12">Total</th>
                    <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12">Fecha</th>
                    <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12">Hora</th>
                    <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12">¿Obsequio?</th>
                    <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12">Estado</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-inscripciones>
                  <tr>
                    <td class="text-xs text-uppercase text-bold">{{ 'FTN0000' + inscripciones.codigo_inscripcion }}</td>
                    <td>
                      <a
                        class="badge bg-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                        (click)="getDetalleInscripciones(inscripciones.codigo_inscripcion)"
                      >
                        <i class="fas fa-shopping-cart fa-xs text-white"></i>
                      </a>
                      <a
                        class="badge bg-success mx-2"
                      >
                        <i class="fas fa-check fa-xs text-white "></i>
                      </a>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img
                            src="https://radiarte.com/application/files/6917/0923/2244/depositphotos_134255588-stock-illustration-empty-photo-of-male-profile.jpg"
                            class="avatar avatar-sm me-3"
                          >
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="mb-0 text-xs text-uppercase" >jerson galvez</p>
                          <p class="text-xs text-secondary mb-0 text-uppercase">{{ inscripciones.tpdocumento+ ' - ' + inscripciones.documento }}</p>
                        </div>
                      </div>
                    </td>
                    <td class="text-xs text-uppercase">{{ inscripciones.cantidad }}</td>
                    <td class="text-xs text-uppercase">{{ inscripciones.total }}</td>
                    <td class="text-xs text-uppercase">{{ inscripciones.fecha }}</td>
                    <td class="text-xs text-uppercase">{{ inscripciones.hora }}</td>
                    <td class="text-xs text-uppercase">
                      <span class="badge bg-primary">{{ inscripciones.codigo_promocional }}</span>
                    </td>
                    <td class="text-xs text-uppercase">
                      <span class="badge bg-danger">{{ inscripciones.estado }}</span>
                    </td>
                  </tr>
                </ng-template>
               </p-table>
              <br>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">DETALLE DEL PEDIDO</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <table
              class="table table-striped table-hover"
            >
              <thead>
                <tr class="bg-dark">
                  <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12">Codigo inscripcion</th>
                  <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12">Producto</th>
                  <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12">Categoria</th>
                  <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12">Jersy</th>
                  <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12">Kit</th>
                  <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12">Precio</th>
                  <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12">cantidad</th>
                  <th class="text-uppercase text-white text-xs bg-dark font-weight-bolder opacity-12">¿Obsequio?</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inscripcion of detalleinscripcion">
                  <td class="text-xs text-uppercase">FTN0000{{ inscripcion.codigo_inscripcion }}</td>
                  <td class="text-xs text-uppercase">{{ inscripcion.nombre }}</td>
                  <td class="text-xs text-uppercase">{{ inscripcion.categoria }}</td>
                  <td class="text-xs text-uppercase">{{ inscripcion.jersy }}</td>
                  <td class="text-xs text-uppercase">{{ inscripcion.kit }}</td>
                  <td class="text-xs text-uppercase">{{ inscripcion.precio.toLocaleString(undefined, {minimumFractionDigits: 0, maximumFractionDigits: 0}) }}</td>
                  <td class="text-xs text-uppercase">{{ inscripcion.cantidad }}</td>
                  <td class="text-xs text-uppercase">{{ inscripcion.codigo_promocional }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>


