<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO INVENTSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->

<p-toast position="top-right"/>
<div class="min-height-300 bg-default position-absolute w-100"></div>
<app-menuadmin></app-menuadmin>
<main class="main-content position-relative border-radius-lg">
  <div class="container-fluid py-6">
    <div class="row ">
      <div class="card">
        <br>
        <div class="container-fluid mt-4">
          <div class="row">
            <div class="col-md-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                  <li class="breadcrumb-item text-sm"><a class="opacity-5 " href="javascript:;">ZonaSport</a></li>
                  <li class="breadcrumb-item text-sm  active" aria-current="page">Inscripciones</li>
                </ol>
              </nav>
              <div class="d-flex align-items-center">
                <p class="mb-0 h6 text-uppercase ">Datos de las inscripciones</p>
                <button
                  class="btn btn-success text-white font-weight-bold btn-xs ms-auto"
                  (click)="EntregaKits()"
                > 
                  <i class="fas fa-database"></i> Guardar
                </button>
              </div>
            </div>
          </div>
          <form [formGroup]="inscripcionesForm">
            <div class="row mt-3">
              <div class="col-md-2">
                <label>Codigo QR</label>
                  <input
                    type="text"
                    class="form-control form-control-sm text-uppercase"
                    formControlName="codigoqr"
                  >
              </div>
              <div class="col-md-2">
                <label>Documento</label>
                <input
                  type="text"
                  class="form-control form-control-sm text-uppercase"
                  formControlName="documento"
                  (keyup.enter)="getDatosInscripcion()"
                >
              </div>
              <div class="col-md-2">
                <label>Tipo Documento</label>
                  <input
                    type="text"
                    class="form-control form-control-sm text-uppercase"
                    formControlName="tpdocumento"
                  >
              </div>
              <div class="col-md-4">
                <label>Nombre y Apellido</label>
                  <input
                    type="text"
                    class="form-control form-control-sm text-uppercase"
                    formControlName="nombrecompleto"
                  >
              </div>
              <div class="col-md-2">
                <label>Factura</label>
                <div class="input-group input-group-sm">
                  <span class="input-group-text " id="basic-addon1">FTN0000</span>
                  <input
                    type="text"
                    class="form-control form-control-sm text-uppercase "
                    formControlName="factura"
                  >
                </div>
              </div>
            </div>
            <!--  -->
            <div class="row mt-2">
              <div class="col-md-2">
                <label>Departamento</label>
                  <input
                    type="text"
                    class="form-control form-control-sm text-uppercase"
                    formControlName="departamento"
                  >
              </div>
              <div class="col-md-2">
                <label>Ciudad</label>
                  <input
                    type="text"
                    class="form-control form-control-sm text-uppercase"
                    formControlName="ciudad"
                  >
              </div>
              <div class="col-md-2">
                <label>Telefono</label>
                  <input
                    type="text"
                    class="form-control form-control-sm text-uppercase"
                    formControlName="telefono"
                  >
              </div>
              <div class="col-md-6">
                <label>Direccion</label>
                  <input
                    type="text"
                    class="form-control form-control-sm text-uppercase"
                    formControlName="direccion"
                  >
              </div>
            </div>
            <!--  -->
            <div class="row mt-2">
              <div class="col-md-3">
                <label>Correo Electronico</label>
                  <input
                    type="text"
                    class="form-control form-control-sm text-uppercase"
                    formControlName="correo"
                  >
              </div>
              <div class="col-md-2">
                <label >Estado</label>
                  <input
                    type="text"
                    class="form-control form-control-sm text-uppercase "
                    formControlName="estado"
                  >
              </div>
              <div class="col-md-2">
                <label>RH</label>
                  <input
                    type="text"
                    class="form-control form-control-sm text-uppercase"
                    formControlName="rh"
                  >
              </div>
              <div class="col-md-3">
                <label>Seguro medico</label>
                  <input
                    type="text"
                    class="form-control form-control-sm text-uppercase"
                    formControlName="seguromedico"
                  >
              </div>
              <div class="col-md-2">
                <label>Fecha Nacimiento</label>
                  <input
                    type="text"
                    class="form-control form-control-sm text-uppercase"
                    formControlName="fechanacimiento"
                  >
              </div>
            </div>
          </form>
          <div class="row mt-4">
            <div class="col-md-12">
              <h5>Total: {{ total  }}</h5>
            </div>
          </div>
          
        <div class="row mt-4">
          <div class="col-md-10">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="bg-dark">
                  <tr>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Inscripcion</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Estado</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Precio</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Producto</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Categoria</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Jersy</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">kit</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Cantidad</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">¿Obsequio? </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let inscripcion of inscripciones">
                    <td>FTN0000{{ inscripcion.codigo_inscripcion }}</td>
                    <td>
                      <span class="badge bg-danger " *ngIf="estado == 'Entregado'">{{ estado }}</span>
                      <span class="badge bg-success " *ngIf="estado == 'Pendiente'">{{ estado }}</span>
                    </td>
                    <td class="text-uppercase">{{ inscripcion.precio.toLocaleString(undefined, {minimumFractionDigits: 0, maximumFractionDigits: 0}) }}</td>
                    <td class="text-uppercase text-danger">{{ inscripcion.nombre }}</td>
                    <td class="text-uppercase">{{ inscripcion.categoria }}</td>
                    <td class="text-uppercase text-success">{{ inscripcion.jersy }}</td>
                    <td class="text-uppercase">{{ inscripcion.kit }}</td>
                    <td class="text-uppercase">{{ inscripcion.cantidad }}</td>
                    <td class="text-uppercase">
                      <span class="badge bg-danger">{{ inscripcion.codigo_promocional }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br>
              <br>
              <br>
            </div>
          </div>
          <div class="col-md-2 mt-5">
            <div class="text-center">
              <img
                src="https://impremtanovagrafic.es/wp-content/uploads/2020/10/qr_impremta-novagrafic-600x384.jpg"
                class="img-fluid"
              >
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
<!--  -->
<div class="card flex justify-content-center">
  <p-toast />
  <p-confirmDialog
    rejectLabel="No"
    acceptLabel="Si"
  >
      <ng-template pTemplate="message" let-message>
          <div class="flex text-center flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
              <i class="fas fa-exclamation-circle text-6xl text-primary"></i>
              <p>{{ message.message }}</p>
          </div>
      </ng-template>
  </p-confirmDialog>
</div>
