<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO INVENTSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->

<div class="min-height-300 bg-default position-absolute w-100"></div>
<app-menuadmin></app-menuadmin>
<p-toast position="top-right"/>
<main class="main-content position-relative border-radius-lg">
  <div class="container-fluid py-6">
    <div class="row ">
      <div class="card">
        <br>
        <div class="container-fluid mt-4">
          <div class="row">
            <div class="col-md-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                  <li class="breadcrumb-item text-sm"><a class="opacity-5 " href="javascript:;">ZonaSport</a></li>
                  <li class="breadcrumb-item text-sm  active" aria-current="page">Configuracion</li>
                </ol>
              </nav>
              <div class="d-flex align-items-center mt-3">
                <p class="mb-0 h6 text-uppercase ">Configuracion del evento</p>
                <button
                  class="btn btn-primary text-white font-weight-bold btn-xs ms-auto"
                  data-bs-toggle="modal"
                  data-bs-target="#crearusuarioModal"
                > 
                  <i class="fas fa-plus"></i> Crear Usuarios
                </button>
                <button
                  class="btn btn-danger text-white font-weight-bold btn-xs mx-2"
                  data-bs-toggle="modal"
                  data-bs-target="#crearregalomodal"
                  > 
                  <i class="fas fa-plus"></i> Crear Regalo
                </button>
                <button
                  class="btn btn-success text-white font-weight-bold btn-xs mx-2"
                  data-bs-toggle="modal"
                  data-bs-target="#crearserviciomodal"
                  > 
                  <i class="fas fa-plus"></i> Crear servicio
                </button>
                <button
                  class="btn btn-info text-white font-weight-bold btn-xs mx-2"
                  data-bs-toggle="modal"
                  data-bs-target="#crearpatrociniomodal"
                > 
                  <i class="fas fa-plus"></i> Crear Patrocinio
                </button>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
             <!--  -->
            </div>
          </div>
        <div class="row mt-1">
          <div class="col-md-8">
            <h6>USUARIOS</h6>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead class="bg-dark">
                  <tr>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12"></th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Codigo</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Documento</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Nombre completo</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Telefono</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Correo</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Rol usuario</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let usuario of usuarios">
                    <td class="text-xs text-uppercase"></td>
                    <td class="text-xs text-uppercase">{{ usuario.codigo_deportista }}</td>
                    <td class="text-xs text-uppercase">{{ usuario.documento }}</td>
                    <td class="text-xs text-uppercase">{{ usuario.nombre + '' + usuario.apellido }}</td>
                    <td class="text-xs text-uppercase">{{ usuario.telefono }}</td>
                    <td class="text-xs ">{{ usuario.correo_electronico }}</td>
                    <td class="text-xs text-uppercase">{{ usuario.rol_usuario }}</td>
                    <td class="text-xs text-uppercase">
                      <span class="badge bg-success">{{ usuario.estado }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br>
              <br>
              <br>
            </div>
          </div>
          <div class="col-md-4">
            <h6>CODIGOS PROMOCIONALES</h6>
            <table class="table table-striped table-hover">
              <thead class="bg-dark">
                <tr>
                  <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12"></th>
                  <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Deportista</th>
                  <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Codigo</th>
                  <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Precio</th>
                  <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let codigo of codigos">
                  <td></td>
                  <td class="text-xs text-uppercase">{{ codigo.documento}}</td>
                  <td class="text-xs text-uppercase text-danger">{{ codigo.codigo_promocional}}</td>
                  <td class="text-xs text-uppercase">{{ codigo.precio}}</td>
                  <td class="text-xs text-uppercase">
                    <span class="badge bg-success">{{ codigo.estado}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-5">
            <h6>PATROCINIOS</h6>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead class="bg-dark">
                  <tr>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12"></th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Logo</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Nombre</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Descripcion</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Valor Aporte</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let patrocinio of patrocinios">
                    <td></td>
                    <td>
                      <img src="{{ patrocinio.logo }}" class="avatar avatar-sm">
                    </td>
                    <td class="text-xs text-uppercase">{{ patrocinio.nombre }}</td>
                    <td class="text-xs text-uppercase">{{ patrocinio.descripcion }}</td>
                    <td class="text-xs text-uppercase">{{ patrocinio.valor }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
          <div class="col-md-7">
            <h6>PRODUCTOS O SERVICIOS</h6>
            <table class="table table-striped table-hover">
              <thead class="bg-dark">
                <tr>
                  <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12"></th>
                  <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Imagen</th>
                  <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Codigo</th>
                  <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Nombre producto</th>
                  <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Precio</th>
                  <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">vistas</th>
                  <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let servicio of servicios">
                  <td></td>
                  <td>
                    <div class="text-center">
                      <img
                        src="{{servicio.url_imagen}}"
                        class="avatar avatar-xs"
                        >
                    </div>
                  </td>
                  <td class="text-xs text-uppercase">{{ servicio.codigo_servicio }}</td>
                  <td class="text-xs text-uppercase">{{ servicio.nombre }}</td>
                  <td class="text-xs text-uppercase">{{ servicio.precio.toLocaleString(undefined, {minimumFractionDigits: 0, maximumFractionDigits: 0}) }}</td>
                  <td class="text-xs text-uppercase">{{ servicio.vistas }}</td>
                  <td class="text-xs text-uppercase">
                    <span class="badge bg-success">{{ servicio.estado }}</span>
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <!-- CREAR USUARIOS -->
  <div class="modal fade" id="crearusuarioModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="crearusuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="crearusuarioModalLabel">CREACION DE USUARIOS ADMINISTRATIVOS</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="row">
              <div class="col-md-4">
                <label>Documento</label>
                <input type="text" class="form-control form-control-sm">
              </div>
              <div class="col-md-8">
                <label>Nombre usuario</label>
                <input type="text" class="form-control form-control-sm">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-4">
                <label>Telefono</label>
                <input type="text" class="form-control form-control-sm">
              </div>
              <div class="col-md-8">
                <label >Correo electronico</label>
                <input type="text" class="form-control form-control-sm">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <label>Usuario</label>
                <input type="text" class="form-control form-control-sm">
              </div>
              <div class="col-md-6">
                <label>Contraseña</label>
                <input type="text" class="form-control form-control-sm">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- CREAR REGALO -->
  <div class="modal fade" id="crearregalomodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="crearregalomodalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="crearregalomodalLabel">CREAR CODIGO PROMOCIONAL</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="regaloForm">
            <div class="row">
              <div class="col-md-12">
                <label>Documento deportista *</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="documento_deportista"
                >
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <label >Codigo *</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="codigo_deportista"
                >
              </div>
              <div class="col-md-6">
                <label>Total a obsequiar *</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="total_deportista"
                >
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <label>Estado *</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="estado_deportista"
                >
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" [disabled]="regaloForm.invalid" (click)="crearRegalo()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- CREAR SERVICIO -->
  <div class="modal fade" id="crearserviciomodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="crearregalomodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="crearregalomodalLabel">CREAR SERVICIOS TIENDA</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="servicioForm">
            <div class="row">
              <div class="col-md-4">
                <label>Codigo</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="codigo_servicio"
                >
              </div>
              <div class="col-md-8">
                <label>Nombre servicio</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="nombre_servicio"
                >
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <label >Precio</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="precio_servicio"
                >
              </div>
              <div class="col-md-6">
                <label>Estado</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="estado_servicio"
                >
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <label>Imagen</label>
                <input
                  type="file"
                  class="form-control form-control-sm"
                  formControlName="imagen_servicio"
                  (change)="imageUpload($event)"
                >
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="servicioForm.invalid"
            (click)="crearServicio()"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- CREAR PATROCINIO -->
  <div class="modal fade" id="crearpatrociniomodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="crearregalomodalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="crearregalomodalLabel">CREAR PATROCINADORES</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="patrocinioForm">
            <div class="row">
              <div class="col-md-4">
                <label>Codigo</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="codigo_patrocinio"
                >
              </div>
              <div class="col-md-8">
                <label>Nombre empresa</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="empresa_patrocinio"
                >
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-8">
                <label>Logo empresa</label>
                <input
                  type="file"
                  class="form-control form-control-sm"
                  formControlName="logo_patrocinio"
                  (change)="imageUpload2($event)"
                >
              </div>
              <div class="col-md-4">
                <label >Valor aporte</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="valor_patrocinio"
                >
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <label>Descripcion</label>
                <textarea
                  class="form-control"
                  rows="5"
                  formControlName="descripcion_patrocinio"
                ></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="patrocinioForm.invalid"
            (click)="crearPatrocinio()"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>

